body {
    background: #CCCCCC;
}
h1 {
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
}
em strong {

    color:red;
}

#banner {

    width: 100%;
}
#mision {
    font-size: 20px;
}

