body {
    
}

.principal {

    background: #CCCCCC;
    padding: 20;
}

.diferenciales {

    background: #FFFFFF;
    padding: 30px;
}

.imagenDiferenciales {

    width: 50%;
}
h2 {
    text-align: center;
}
#banner {

    width: 100%;
}
h1 {
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
}
em strong {

    color:red;
}


#mision {
    font-size: 20px;
}


.items {
   font-style: italic;
}

ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
